.u-margin-medium{
    margin: 4rem;
}
.u-margin-small{
    margin: 2rem;
}
.u-margin-top-small{
    margin-top: 1rem;
}
.u-margin-bottom-small{
    margin-bottom: 1rem;
}
.u-center-text{
    text-align: center;
}
.u-padding-small{
    padding: 2rem;
}